@use '../../build/design-tokens/index.scss' as cs;

body.awsui-dark-mode {
  background-color: cs.$color-background-layout-main;
}

#app > #c {
  padding-top: 40px;
}

#h {
  top: 0;
  position: fixed;
  height: auto !important;
  z-index: 7001;
}
