html,
body,
#h {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

#b {
  padding-top: 56px;
}

#h {
  top: 0;
  position: fixed;
  height: auto !important;
  z-index: 7001;
}

#c {
  padding: 0 !important;
  margin: 0 !important;
}

.divider {
  border: 1px solid #e9ebed;
}
